/* line 6, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/modale.scss */
.Login-form-container {
  position: absolute;
  top: 20px;
}

/* line 19, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/modale.scss */
.signup {
  border-radius: 10px;
}

/* line 28, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/modale.scss */
.inputLabel {
  margin-right: 50px;
}

/* line 33, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/modale.scss */
.passwordLabel {
  margin-right: 50px;
}
