/* line 1, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/widgets.scss */
.Video .showbutton {
  position: absolute;
  margin-top: 5%;
  right: 45%;
}

/* line 7, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/widgets.scss */
.showbuttonWrapper div {
  justify-content: center;
}

/* line 20, /Users/tianyuduan/Desktop/appacademy/fullstack/fishpx/app/assets/stylesheets/widgets.scss */
.Avatar {
  position: absolute !important;
  top: .8%;
  right: 11%;
}
