video {
    position: absolute; right: 0; top: 0;
    // min-width: 100%; min-height: 100%;
    width: auto;
    background-size: cover;
    width: 100vw;
}


.video_font_1 {
  position: relative;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 72px;
  color: white;
  margin-top: 25%;
  text-indent: 60px;
  text-shadow: 2px 2px #0C090A;
  font-weight: bold;
  z-index: 10 ;
}

.video_font_2 {
  position: relative;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 48px;
  color: white;
  margin-top: -2%;
  text-indent: 80px;
  text-shadow: 2px 2px #0C090A;
  z-index: 10 ;
}

.logout-wrap {
  position: absolute;
  right: 5%;
  padding-top: 1%;
}
