
.after-header-text-container {

  text-align: center;
  margin-top: 23.5%;
  margin-bottom: 7%;
  font-size: 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  color: #323031;

}
div.description1 {
  margin-top: 10px;
  font-size: 24px;
}

.after-grid-text-container {
  text-align: center;
  font-size: 36px;
  margin-top: 6%;
  margin-bottom: 6%;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  color: #323031;

}

.after-grid-text-container .description {
  font-size: 24px;
  margin-top: 10px;

}
