
.image-grid {
  padding-left: 50px;
  padding-right: 50px;

  img {
    display: flex;
    margin: 0 auto;
    align-content: center;
    align-self: center;
}
}

.imageGridUser {
 img{
  margin-bottom: 20px;
  width: 26.5vw;
}
}


.imageGridUser {
  :hover {

      opacity: .8
  }
}

//
.my-gallery-class {
padding-top: 20px;
margin: 0 auto;
}
//
// .masonaryUser{
// }
//
.tabsCss {
  position: absolute;
  left: 8%;
  right: 8%;
  top: 56.5%;

}
