
.textfield1 {

}

.Login-form-container {
  position: absolute;
  top: 20px;
  margin-left: 90%;

}

.Login {
    // border: 2px red solid;
    // margin-left: 70%;
    // background-color: transparent;
    // font-family: 'Josefin Slab', serif;
    // text-shadow: 2px 2px #0C090A;;
}
.Signup {
  // border: 2px red solid;
  // background: transparent;
  // font-family: 'Josefin Slab', serif;
  // text-shadow: 2px 2px #0C090A;
  color: white;
}


.inputLabel{

  margin-right: 50px;
}

.passwordLabel{
  margin-right: 50px;
}
