
.textfield1 {

}

.Login-form-container {
  position: absolute;
  top: 20px;

}

.login {

    // margin-left: 70%;
    // background-color: transparent;
    // font-family: 'Josefin Slab', serif;
    // text-shadow: 2px 2px #0C090A;;
}
.signup {
  // border: 2px red solid;
  // background: transparent;
  // font-family: 'Josefin Slab', serif;
  // text-shadow: 2px 2px #0C090A;
    border-radius: 10px;
}


.inputLabel{

  margin-right: 50px;
}

.passwordLabel{
  margin-right: 50px;
}
