
.textfield1 {
  text-align: center;
}

.Login-form-container {
  position: absolute;
  top: 20px;
  right: 20px;

}

div.login-form {
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;

}
.dialogWrap{
  text-align: center;
  padding-top: 30px; }
h3{
  text-align: center;
}
.login {

  // display: inline-block;
    // margin-left: 70%;
    // background-color: transparent;
    // font-family: 'Josefin Slab', serif;
    // text-shadow: 2px 2px #0C090A;;

    display: inline-block;

    // span {
    //   color: red !important;
    //   border: 2px red;
    // }
}


.signup {
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;

}

.Signup {


}


.inputLabel{

  margin-right: 50px;
}

.passwordLabel{
  margin-right: 50px;
}
