.Video .showbutton {
  position: absolute;
  margin-top: 5%;
  right: 45%;
}

.showbuttonWrapper div {
  justify-content: center;
  //color goes in here
}

.showbutton {
  margin-top: 1em !important;


}

.Avatar {
  position: absolute !important;
  top: .8%;
  right: 11%;
}
